h5 {
    color: darkblue;
}

span.config:first-of-type, span.config:nth-of-type(3) {
    margin: 0px;
}

.config {
    background-color: gainsboro;
    margin: 15px;
    width: 120px;
    appearance: textarea;
    text-align: center;
}

.mat-slider-horizontal {
    width: 200px;
}

.slider {
    font-weight: bold;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

