<mat-card>
  <mat-card-content>
    <h2>Grading configuration</h2>
    <span class="config">
      <mat-label>Min value:</mat-label>
      <span>&nbsp;&nbsp;{{min}}</span>
    </span>
    <span class="config">
      <mat-label>Max value:</mat-label>
      <span>&nbsp;&nbsp;{{max}}</span>
    </span>
    <span class="config">
      <mat-label>Step:</mat-label>
      <span>&nbsp;&nbsp;{{step}}</span>
    </span>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Enter value</mat-label>
        <input matInput type="number" [min]="min" [max]="max" [step]="step" [(ngModel)]="grade" formControlName="grade">
        <mat-error> Invalid input !! Please select a value between {{min}} and {{max}} with a step of {{step}}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h5>Use slider</h5>
    <div class="slider-container">
      <label>Value</label>
      <label class="slider">{{grade}}</label>
    </div>
    <mat-slider [disabled]="disabled" [min]="min" [max]="max" [step]="step" [(ngModel)]="grade" (click)="openDialog()">
    </mat-slider>
  </mat-card-content>
</mat-card>