<h2 mat-dialog-title>Warning</h2>
<mat-dialog-content class="mat-typography">
  <h3>Invalid input !! Value will be reset to 0</h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
