<h3 mat-dialog-title>Grading criteria</h3>
<mat-dialog-content>
  <br>
  <mat-slider thumbLabel class="cdk-focused" [disabled]="disabled" [min]="min" [max]="max" [step]="step"
    [(ngModel)]="value">
  </mat-slider>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="value" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>